{{ partial "header.html" . }}

<!-- #hero-home -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1 class="text-center"><span>We help companies</span><br/> ACHIEVE MASSIVE GROWTH <br/><span>using</span><br/> CUSTOMER EXPERIENCE DESIGN</h1>

                <p class="text-center"><a href="/what-we-do.html" class="btn btn-default btn-lg btn-cta" onClick="ga('send','event','cta','click','homepage', {useBeacon: true});">Learn what we do &rsaquo;</a></p>

            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /#hero-home -->

<div id="dope">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">

                <h2>Who Is We Are Genki?</h2>

                <p>We Are Genki is a Customer Experience (CX) Consultancy based in Sydney, Australia. We do both CX strategy and implementation. We work with conversion oriented web companies to transform their online and real world brand experience.</p>

                <p>There’s a huge amount of untapped business potential in customer experience design&mdash;more than a lot of business leaders realise. We’ve made it our mission to bring modern thinking about aligning customer intent and business goals into the forefront of business strategy development.</p>

                <p><a href="/what-we-do.html">Read more about what we do &rsaquo;</a></p>

            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->

    <div class="highlight">
        <div class="container">
            <div class="row">
                <div id="quote" class="col-sm-12 col-md-10 col-md-offset-1 text-center">

                    &ldquo;The team was great and helped us get things going at rocket pace ... Highly recommended.&rdquo;<br>
                    <small>Triex, Label Manager RuffBeatz.com</small>

                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.highlight -->

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">

                <h2>Genki? What’s That?</h2>

                <p>If you’re thinking genki sounds Japanese, then you’d be right! It’s a wonderfully dynamic word, spelt <span lang="ja"><ruby>元気<rp>(</rp><rt>げんき</rt><rp>)</rp></ruby></span>. It means:</p>

                <ol>
                <li>Lively; full of spirit; energetic; vigorous; vital; spirited</li>
                <li>Healthy; well; fit; in good health</li>
                </ol>

            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->

</div> <!-- /#dope -->

{{ partial "footer.html" . }}