{{ partial "header.html" . }}

<div id="dope">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <section id="page">
                	<div class="text-center">
                        <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                    </div>
                    
					{{ .Content }}
                </section>
            </div>
        </div>
    </div>

</div> <!-- /dope -->

{{ partial "footer.html" . }}
